<!DOCTYPE html>
<html>
    <head>
        <title>
            ECML125 - Pictures
        </title>
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,user-scalable=yes"
        />
        <meta charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="./css/style.css" />

        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
            integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
            crossorigin="anonymous"
        />
        <script src="js/navbar.js"></script>
    </head>

    <body class="body">
        <div id="app">
            <nav class="navbar">
                <span
                    class="navbar-toggle"
                    id="js-navbar-toggle"
                    onclick="toggleNavBar()"
                >
                    <i class="fas fa-bars"></i>
                </span>
                <a href="#" class="logo">
                    <img id="navBarLogo" src="./img/logo_white.png" />
                </a>
                <ul class="main-nav" id="js-menu">
                    <li>
                        <a href="./" class="nav-links">Home</a>
                    </li>
                    <li>
                        <a
                            href="./pictures.html"
                            class="nav-links selected selected"
                            >Pictures</a
                        >
                    </li>
                    <li>
                        <a href="./videos.html" class="nav-links">Videos</a>
                    </li>
                    <li>
                        <a href="./contact.html" class="nav-links"
                            >Contact Us</a
                        >
                    </li>
                </ul>
            </nav>

            <!-- Modal -->
            <div class="modal" v-if="specificImage">
                <div class="modal-content">
                    <span class="close" @click="closeModal()">&times;</span>
                    <img :src="specificImage.url_l" />
                </div>
            </div>

            <!-- Gallery -->
            <div class="galleryCtr" v-if="data">
                <h1>Flickr Images</h1>
                <p>
                    Here are all of my images that I have taken, All Rights
                    Reserved
                </p>
                <br />
                <div
                    class="galleryImage hvr-grow"
                    v-for="(image, index) in data.photoset.photo"
                    :key="index"
                    @click="getSpecificImage(index)"
                >
                    <img :src="image.url_m" width="100%" />
                    <div class="galleryDesc bottom-right">
                        <i class="far fa-eye"></i>
                        {{ image.views }}
                    </div>
                    <div class="galleryTitle">
                        {{ image.title }}
                    </div>
                    <div class="galleryDesc centered2">
                        {{ image.description._content }}
                    </div>
                </div>
            </div>
        </div>

        <!-- <button class="darkButton" onclick="toggleDark()">
            <i class="far fa-lightbulb"></i>
        </button> -->

        <script src="js/vue.min.js"></script>
        <script src="js/flickr.js"></script>
    </body>
</html>
